.counter{
    padding-top: 50px;
    margin: 100px;
    width: 100px;
}

.counter input {
    padding-bottom: 13px;
    margin-bottom: 25px;
}

.counter button{
    width: 20px;
    margin-left: 5px;
}

.input {
    display: flex;
    width: 500px;
}

.error-message {
    color: red;
    padding-left: 10px;
    margin: 4px;
}